@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Gotham" !important;
  color: var(--neutrals-100-f-9-faf-3, #f9faf3);
}

.top-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.8)
    ),
    url("./images/bg.png");
  min-height: 700px;
}

.top-wrap {
  background-image: linear-gradient(
    to bottom,
    rgb(28, 20, 32),
    rgb(101, 97, 103)
  );
}

.text-big {
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 70.4px */
}

.text-small {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 23.4px */
}

.icon-content {
  max-width: 240px;
}

.divider {
  border-bottom: 1px solid rgb(249, 250, 243);
  width: 80%;
}

.icon {
  margin: 0 auto;
  margin-bottom: 24px;
  background: transparent;
}

@media screen and (max-width: 568px) {
  .top-img {
    min-height: 300px;
  }
  .top-wrap {
    background-size: cover;
  }
  .text-big {
    font-size: 40px;
  }

  .text-small {
    font-size: 16px;
  }

  .icon {
    margin: auto;
  }
}
